body {
    background-color: rgb(13, 13, 13);
    height: 100%;
}

.hr{
    height: 1px;
    margin: 20px auto;
    background-image: linear-gradient(90deg, #000 0%, #606060 50%, #000 100%);
    display: block;
    border: none;
}
