.containerboxes{
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    
}

.containerboxes img{
    margin: 20px;
    background-color: rgb(22, 22, 22);
    transform: scale(1);
    border-radius: 15%;
    border: 2px solid transparent;
    transform: scale(1);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

#p1{
    width: 230px;
    height: 230px;
    object-fit: cover;
}

#p2{
    width: 230px;
    height: 230px;
    object-fit: cover;
}

#p3{
    width: 230px;
    height: 230px;
    object-fit: cover;
}

#p4{
    width: 230px;
    height: 230px;
    object-fit: cover;  
}

.containerboxes img:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 20px rgb(0, 154, 243);
}

.containerboxes img:active{ 
  transform: scale(0.95);
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
