@font-face {
    font-family: font;
    src: url(fonts/TASAExplorer-VariableFont_wght.ttf);
}

h1{
    font-family: font;
    color: rgb(255, 255, 255);
    margin: 20px;
    padding: 20px;
    font-size: 24px;
}

.header{
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: rgb(22, 22, 22);
    border-radius: 5px;
    height: 65px;
    align-items: center;
}