@media (max-width: 425px) {

    .header {
        flex-wrap: wrap;
        height: auto;
        padding: 10px;
        gap: 10px;
    }
    
    .header h1 {
        font-size: 16px;
        margin: 10px;
        padding: 10px;
    }
    
    .logo img {
        height: 40px;
    }
    
    .logo h1 {
        font-size: 16px;
        right: 45px;
    }

    .slideshow {
        height: 400px;
        width: 520px;
        right: 10px;
        margin: 0;
        top: 50px;
    }
    
    .image-container img {
        margin: 0 auto;
        width: 100%;
        object-fit: cover;
    }
    
    .containerboxes {
        flex-direction: row;
        gap: 10px;
    }
    
    .containerboxes img {
        margin: 10px;
    }

    #p1, #p2, #p3, #p4 {
        width: 80px;
        height: 80px;
    }
    
    
    .text {
        flex-direction: row;
        gap: 20px;
        margin-top: 10px;
    }
    
    .text h1 {
        font-size: 15px;
        margin: 10px;
        padding: 5px;
    }
    
    /* Popular section */
    .popular {

        padding: 40px 20px;
        gap: 20px;
    }
    
    .popular-content {
        flex-direction: column;
        gap: 30px;
    }
    
    .popular img {
        height: 300px;
        width: 500px;
    }
    
    .popular:hover img {
        transform: translateX(0);
    }
    
    .product-details {
        opacity: 1;
        transform: translateX(0);
        pointer-events: auto;
        text-align: center;
        max-width: 100%;
    }
    
    .product-details h2 {
        font-size: 32px;
        margin-bottom: 15px;
    }
    
    .product-details h3 {
        font-size: 14px;
    }
    
    .buyb {
        margin: 0 auto;
    }
    
    .ptext h1 {
        font-size: 60px;
        left: 20px;
    }
    
    /* Image container 2 */
    .image-container_2 {
        margin-top: 50px;
    }
    
    .image-container_2 img {
        height: 500px;
        width: 1000px;
    }
    
    .image-overlay-text {
        width: 90%;
    }
    
    .image-overlay-text h2 {
        font-size: 36px;
        margin-bottom: 15px;
    }
    
    .image-overlay-text p {
        font-size: 18px;
    }
}

