.slideshow {
    overflow: hidden;
    position: relative;
    width: 100%;         
    height: 750px;        
    margin: 4vh auto;    
}

.slideshow::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 200px;
    background: linear-gradient(to bottom, rgb(13, 13, 13), transparent);
    z-index: 10;
    pointer-events: none;
}

.image-container{
    display: flex;
    align-items: center;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.image-container img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
}
