
.slideshow {
    overflow: hidden;
    position: relative;
    width: 100%;         
    height: 820px;        
    margin: 4vh auto;    
}

.image-container{
    display: flex;
    align-items: center;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.image-container img {
    width: 100%;
    height: auto;
    object-fit: contain; 
    display: block;
}

