body {
    background-color: rgb(13, 13, 13);
    height: 100%;
}

@font-face {
    font-family: font;
    src: url(fonts/Chopin-Light.ttf);
}

.search{
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 30px;
    background: rgb(41, 41, 41);
    width: max-content;
}

.search-image{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.input-box{
    font-family: font;
    color: white;
    border: none;
    font-size: 20px;
    margin-left: 14px;
    outline: none;
    background: transparent;
}

.header{
    background-color: rgb(22, 22, 22);
    display: flex;  
    justify-content: center;
    border-radius: 30px;
}