:root {
    --primary-color: rgb(241, 241, 241) ;
}

#button{
    width: 100px;
    height: 80px;
    display: flex;
    justify-self: center;
    margin-top: 450px;
}

.dark-mode{
    background-color: black;
}

body{
    background-color: var(--primary-color);
}